<nav class="navbar navbar-expand-sm sticky-top bg-light navbar-light ">
    <a class="navbar-brand" href="#" >
        <img src="../assets/img3.png" alt="" style="width:70px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item ">
          <a class="nav-link " routerLink="home" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="register" routerLinkActive="active">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " routerLink="products" routerLinkActive="active">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="cart" routerLinkActive="active">cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="countries" routerLinkActive="active">countries</a>
        </li>
        
        
      </ul>
      
    </div>
  </nav>