

.productsheader{
    
    display: flex;
    justify-content: space-evenly;

}
.btn:active,.btn:focus,.btn.active {
   background-color:rebeccapurple;
 }
 hr{
     
     height: 2px;
     background-color:whitesmoke;
 }