
<div class="mt-2 ">
    <ul class="nav nav-pills productsheader">
        <li class="nav-item">
          <button type="button" class=" btn btn-success shadow-none" routerLink="mobile" routerLinkActive="active">Mobiles</button>
        </li>
        <li class="nav-item">
            <button type="button" class=" btn btn-success shadow-none" routerLink="laptop" routerLinkActive="active">Laptops</button>
          </li>
          <li class="nav-item">
            <button type="button" class=" btn btn-success shadow-none" routerLink="electronic" routerLinkActive="active">Electronics</button>
          </li>
      </ul>
</div>
<hr>

<div>
    <router-outlet></router-outlet>
</div>



